<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render(B::Form::Input.new(form: form, field: :name)) %>
  <%= render(B::Form::Actions.new) do %>
    <%= render(B::Form::Button.new(form: form, label: t("general.save"), type: :submit)) %>
  <% end %>
<% end %>
