<% if to.present? %>
    <%= link_to to, class: "list-group-item list-group-item-action #{classes}" do %>
        <% if icon.present? %>
            <%= render Icon.new(icon: icon) %>
        <% end %>
        <%= text %>
        <%= content %>
    <% end %>
<% else %>
    <li class="list-group-item <%= classes %>">
        <% if icon.present? %>
            <%= render Bootstrap::Icon.new(icon: icon) %>
        <% end %>
        <%= text %>
        <%= content %>
    </li>
<% end %>

